<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ChatRoom">
    <insert id="insertChatRoom" parameterType="ChatRoom">
        INSERT INTO ChatRooms (RoomId, RoomName) values( #{roomId}, #{roomName})
    </insert>

    <select id="getChatRooms" parameterType="String" resultType="ChatRoom">
        SELECT * FROM ChatRooms WHERE RoomName LIKE CONCAT(#{roomName},'%')
    </select>

    <delete id="deleteChatRoom" parameterType="String">
        DELETE FROM ChatRooms WHERE RoomId = #{roomId}
    </delete>
    <select id="isDuplicatedRoomId" parameterType="String" resultType="int">
        SELECT EXISTS (SELECT * FROM ChatRooms where RoomId = #{roomId}) as success
    </select>
</mapper>